* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 22px;
    font-family: Helvetica;
}

body {
    background-color: black;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    flex-direction: column;
}

.container {
    display: flex;
}

main {
    flex-direction: column;
    align-self: center;
    width: 1200px;
    margin-top: 70px;
}

h2 {
    padding: 10px;
}

h4 {
    padding: 5px;
}

/*  Header Section */

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    height: 69px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: black;
}

.logo {
    height: 50px;
    margin: 10px;
}

.logo img {
    display: block;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: inline-block;
    text-decoration: underline;
    padding: 10px;
}

/* Main Section */

.mission {
    flex-direction: column;
    height: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: url("./resources/img-mission-background.jpg");
    
}

.banner {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    
}
